extends layout 

block content 
  h1 Create new instrument category
  form(method="POST" action="") 
    .input_wrapper
      label(for="name") Category name:
      input#name(type="text" name="name" value=(category === undefined ? '' : category.name) placeholder="name" required)
    .input_wrapper
      label(for="descripton") Category description:
      input#description(type="text" name="description" value=(category === undefined ? '' : category.description) placeholder="description" required)
    button(type="submit") Create
  
  if errors
    ul
      for error in errors
        li!= error.msg
