extends layout

block content
  main
    h1= title
    h2 Musical instruments shop management app 

    button
      a(href="/catalog/instruments") View all instruments

    button
      a(href="/catalog/categories") View all categories
