doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    header
      a(href="/catalog/instruments")
        button View all instruments
      a(href="/catalog/categories")      
        button  View all categories
      a(href="/") 
        button Home
    .content
      block content
    footer
      h1 Hector González Orozco
      a(href="https://github.com/hectorgonzalezo/instrument-shop") 
        |
        img(src="/images/github-logo.png", alt="Github")
