doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    header
      button
        a(href="/catalog/instruments") View all instruments
      button
        a(href="/catalog/categories") View all categories
      button
        a(href="/") Home
    .content
      block content
    footer
      h1 Hector González Orozco
      a(href="https://github.com/hectorgonzalezo/instrument-shop") 
        |
        img(src="/images/github-logo.png", alt="Github")
