@import "variables";

.item{
  display: grid;
  padding: 10px;
  gap: 10px;
  align-items: center;
  h1{
    font-size: 2rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.5rem;
    font-style: italic;
  }
}

.item_small{
  @extend .item;
  background-color: $oxford-blue;
  color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 7px black;
  max-width: 400px;
  img{
    max-width: 100px
  }
}

.item_small_add{
  @extend .item_small;
    background-color: $true-blue;
    color: white;
    width: 50%;
    justify-items: center;
}

